.TaskCard {
	height: 122px;
	background-color: #f7f6f3;
	border-radius: 10px;
	margin-bottom: 10px;
	cursor: pointer;

	&:hover {
		background-color: #fff8dd;
	}

	&__Header {
		padding: 20px 20px 0 20px;
		display: flex;
	}

	&__Checkbox {
		margin-right: 10px;
	}

	&__Footer {
		padding: 10px 20px 20px 60px;
		display: flex;
		align-items: center;
	}

	&__User {
		margin-right: 10px;
		display: inline-flex;
	}
}
