.UserInfo {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 100;
    padding: 15px;
    margin-bottom: 20px;
}

.UserInfo__avatar {
    margin-right: 10px;
}

.UserInfo__information {
    display: flex;
    align-items: center;
}

.UserInfo__information-profession {
    font-size: 13px;
    color: grey;
}
