.UserInfo {
	background-color: #202020;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 100;
	padding: 15px;
	margin-bottom: 20px;

	&__Avatar {
		margin-right: 10px;
	}

	&__Information {
		display: flex;
		align-items: center;

		&-profession {
			font-size: 13px;
			color: grey;
		}
	}
}
