.Button {
    padding: 0 15px;
    border-radius: 12px;
    border: none;
    height: 30px;
    background-color: #EAEAEA;
    color: black;
    cursor: pointer;
}

.Button_large {
    padding: 0 20px;
    font-weight: 100;
    font-size: 12px;
    border-radius: 16px;
}