.Button {
    padding: 0 15px;
    border-radius: 12px;
    border: none;
    height: 30px;
    background-color: #EAEAEA;
    color: black;
    cursor: pointer;
    outline: none;
}

.Button:hover {
    opacity: 80%;
}

.Button_large {
    padding: 0 20px;
    border-radius: 16px;
}

.Button_small {
    color: #FF1000;
    background: transparent;
    height: auto;
}