.List {
    padding: 15px;
    line-height: 2.5;
    margin-bottom: 15px;
}

.List__title {
    text-transform: uppercase;
    color: #878787;
}

.List__items-string {
    list-style-type: none;
}

.List__items-link {
    color: white;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
}

.List__items-link:hover {
  background-color: #202020;
    border-right: #FFC200 solid;

}

.List__items-link-icon {
    margin-right: 10px;
}

.List__items-link-avatar {
    margin-left: 5px;
}

.List__items-block {
    padding: 0;
}

.List__items-count {
    width: 20px;
    height: 20px;
    background-color: #FFC200;
    color: black;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 15px;
}

.List__items-addition {
    text-decoration: none;
    color: #FFC200;
}

.List__items-addition:hover {
    opacity: 80%;
}