.List {
	padding: 15px;
	line-height: 2.5;
	margin-bottom: 15px;

	&__Title {
		text-transform: uppercase;
		color: #878787;
	}

	&__Items-string {
		list-style-type: none;
	}

	&__Items-link {
		color: white;
		text-decoration: none;
		width: 100%;
		display: flex;
		align-items: center;

		&:hover {
			background-color: #202020;
			border-right: #ffc200 solid;
		}

		&-icon {
			margin-right: 10px;
		}

		&-avatar {
			margin-left: 5px;
		}
	}

	&__Items-block {
		padding: 0;
	}

	&__Items-count {
		width: 20px;
		height: 20px;
		background-color: #ffc200;
		color: black;
		border-radius: 50%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		margin-left: 15px;
	}

	&__Items-addition {
		color: #ffc200;
		background: none;
		border: none;
		font-size: inherit;
		cursor: pointer;
		outline: none;
	}

	&__Items-addition:hover {
		opacity: 80%;
	}
}
