.addComment {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.addComment-area {
    width: 100%;
    border: none;
    background-color: #eaeaea;
    height: 40px;
    border-radius: 6px;
    margin-left: 10px;
    padding: 10px;
    outline: none;
}