.comment {
    height: 112px;
    border-radius: 10px;
    background-color: #F7F6F3;
    border: none;
    align-items: center;
    margin: 0 0 20px 25px;
    padding: 20px 35px;
    position: relative;
}
.commentAvatar {
    position: absolute;
    left: -24px;
    top: 24px;
}
.comment__header {
    display: flex;
    justify-content: space-between;
}
.comment__header-name {
    font-weight: bold;
}