.Header {
	background-color: white;
	padding: 25px 15px 0;

	&__TitleRow {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;
		align-items: center;
	}

	&__TitleRow-main {
		display: flex;
		align-items: center;
	}

	&__TitleRow-title {
		margin-left: 10px;
	}

	&__TitleRow-socialMedia {
		display: flex;
		align-items: center;
	}

	&__TitleRow-socialMedia-avatar {
		margin-left: 5px;
	}

	&__TitleRow-socialMedia-buttons {
		display: flex;
		align-items: center;
	}

	&__TitleRow-socialMedia-button {
		margin-left: 10px;
	}

	&__Menu-item {
		color: black;
		opacity: 70%;
		margin-right: 20px;
		text-decoration: none;
		border-bottom: 2px solid transparent;
		padding-bottom: 10px;
		display: inline-block;

		&:hover {
			border-bottom-color: #ffc200;
			transition: border-bottom-color 300ms ease-in-out;
		}
	}
}
