.Sidebar {
	background-color: black;
	width: 270px;
	color: white;

	&__Header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 15px;
		text-transform: uppercase;
	}

	&__Header {
		&-title {
			display: inline-flex;
		}

		&-icon {
			margin-right: 10px;
		}
	}

	&__Footer {
		padding: 15px;
		line-height: 1.7;

		&-link {
			color: #ffc200;
			text-decoration: none;
			border-bottom: 1px solid;
			padding-bottom: 3px;
			border-bottom-color: #ffc200ad;

			&:hover {
				opacity: 80%;
			}
		}
	}
}
