.base {
    width: 445px;
    background-color: #fff;
    border-radius: 6px;
    margin-right: 40px;
}

.backlog {
    font-weight: 100;
    padding: 20px;
}

.backlog__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.backlog__title h3 {
    font-weight: 300;
    font-size: 20px;
}

.backlog__item {
    display: flex;
    justify-content: center;
    height: 122px;
    padding: 30px 20px;
    margin-bottom: 10px;
}

.backlog__taskTag {
    padding-left: 10px;
}

.taskItem_grey {
    background-color: #F7F6F3;
}

.taskItem_yellow {
    background-color: #FFF8DD;
}

.taskItem__footer {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.taskItem__footer img {
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.backlog__check {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;

}

.backlog__check img {
    width: 12px;
    height: 9px;
}

.button_white {
    background-color: #FFFFFF;
}


.backlog__item {
    border-radius: 10px;
}
