

.navigation__stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.navigation__stats .navigation__whiteText {
    font-size: 21px;
}



.navigation__counter {
    width: 20px;
    height: 20px;
    background-color: #FFC200;
    color: black;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-left: 15px;
}


.addProject {

    font-weight: 100;
    padding: 20px 27px;
    font-size: inherit;
}

.addProject a {
    text-decoration: none;
    color: #FFC200;

}

.navigation__link:hover {
    background-color: #202020;
    border-color: #FFC200;
}

.team {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team img + img {
    margin-left: 5px;
}


.navigation__invite {
    padding: 30px;
    font-weight: 100;

}

.navigation__invite a {


}