

.navigation__stats {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.navigation__stats .navigation__whiteText {
    font-size: 21px;
}


.addProject {

    font-weight: 100;
    padding: 20px 27px;
    font-size: inherit;
}

.addProject a {
    text-decoration: none;
    color: #FFC200;

}

.navigation__link:hover {
    background-color: #202020;
    border-color: #FFC200;
}

.team {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


