
.ModalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    opacity: 1;
    z-index: 1;
}

.ModalWindow {
    width: 600px;
    border-radius: 5px;
    background: #fff;
    margin: 100px auto;
}

.ModalHeader {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.ModalHeader__title {
    font-size: 1.5rem;
}

.ModalHeader__close {
    cursor: pointer;
}

.ModalBody {
    padding: 10px;
}

.ModalFooter {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}