.Avatar {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.Avatar img {
    display: block;
    width: 100%;
}

.Avatar_x-small {
    width: 20px;
}

.Avatar_medium {
    width: 24px;
}

.Avatar_large {
    width: 48px;

}