.tag {
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    margin: 10px 0;
    display: inline-block;
    height: 24px;
    padding: 0 10px;
    line-height: 24px;
    text-decoration: none;
}

.tag a {
    text-decoration: none;
}

.tag_orange {
    background-color: #FFF1E2;
    color: #ED6400;
}

.tag_violet {
    background-color: #F5F0FF;
    color: #764CED!important;
}

.tag_blue {
    background-color: #E3EFFF;
    color: #1975D0;
}

.task__tag {
    margin: 0;!important;
}
